In [12]:
import pandas as pd
import numpy as np
import edhec_risk_kit_206 as erk
import random
import statsmodels.api as sm
from dateutil.relativedelta import relativedelta
import config
import requests

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
from tiingo import TiingoClient
# Set TIINGO_API_KEY in your environment variables in your .bash_profile, OR
# pass a dictionary with 'api_key' as a key into the TiingoClient.

TIINGO_API_KEY = config.TIINGO_API_KEY

tiingo_config = {
    'api_key': TIINGO_API_KEY,
    'session': True # Reuse HTTP sessions across API calls for better performance
}

# To reuse the same HTTP Session across API calls (and have better performance), include a session key.
tiingo_config['session'] = True


# Initialize
client = TiingoClient(tiingo_config)

In [17]:

headers = {
    'Content-Type': 'application/json'
}
requestResponse = requests.get("https://api.tiingo.com/tiingo/fundamentals/definitions?token=be94126b962ace900d3cb08bfb01a1ec2f98ca3d", headers=headers)
requestResponse2 = requests.get("https://api.tiingo.com/tiingo/daily/" + ticker + "/prices?token=be94126b962ace900d3cb08bfb01a1ec2f98ca3d", headers=headers)

In [18]:
ticker = 'NFLX'

In [19]:
latest_price = requestResponse2.json()[0]['adjClose']

In [20]:
latest_price

347.96

In [7]:
print("Hello World!")

Hello World!

In [8]:
fff = erk.get_fff5_returns()

In [9]:
fff

         Mkt-RF     SMB     HML     RMW     CMA      RF
1963-07 -0.0039 -0.0044 -0.0089  0.0068 -0.0123  0.0027
1963-08  0.0507 -0.0075  0.0168  0.0036 -0.0034  0.0025
1963-09 -0.0157 -0.0055  0.0008 -0.0071  0.0029  0.0027
1963-10  0.0253 -0.0137 -0.0014  0.0280 -0.0202  0.0029
1963-11 -0.0085 -0.0089  0.0181 -0.0051  0.0231  0.0027
...         ...     ...     ...     ...     ...     ...
2022-06 -0.0843  0.0130 -0.0597  0.0185 -0.0470  0.0006
2022-07  0.0957  0.0188 -0.0410  0.0068 -0.0694  0.0008
2022-08 -0.0377  0.0151  0.0031 -0.0479  0.0130  0.0019
2022-09 -0.0935 -0.0100  0.0003 -0.0149 -0.0085  0.0019
2022-10  0.0783  0.0187  0.0806  0.0306  0.0656  0.0023

[712 rows x 6 columns]